.rtl-switch {
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 999;
  border: none;
  background-color: var(--optionalColor);
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
}

[dir=rtl] .ms-3 {
  margin-left: 0 !important;
  margin-right: 1rem;
}
[dir=rtl] .location-track {
  margin-right: 0;
  margin-left: -426px;
}
[dir=rtl] .location-track .col-lg-3:nth-child(1) .form-group::before {
  right: auto;
  left: 25px;
}
[dir=rtl] .location-track .col-lg-3:nth-child(2) .form-group::before {
  right: auto;
  left: 16px;
}
[dir=rtl] .location-track .col-lg-3:nth-child(3) .form-group::before {
  right: auto;
  left: 23px;
}
[dir=rtl] .benefits-single-item::before {
  right: auto;
  left: -60px;
}
[dir=rtl] .destination-slider .swiper-button-prev {
  left: 50px;
  right: auto;
}
[dir=rtl] .destination-slider .swiper-button-next {
  right: auto;
  left: 0;
}
[dir=rtl] .section-title.left-title {
  margin-right: 0;
  text-align: right;
}
[dir=rtl] .most-popular-tab {
  padding: 0;
}
[dir=rtl] .most-popular-tab .nav-item {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .most-popular-tab .nav-item:last-child {
  margin-left: 0;
}
[dir=rtl] .most-popular-single-item .most-popular-single-content .most-popular-single-star {
  padding: 0;
}
[dir=rtl] .most-popular-single-item .most-popular-single-content .most-popular-single-location i {
  margin-right: 0;
  margin-left: 8px;
}
[dir=rtl] .works-single-item .works-single-img .count {
  right: auto;
  left: -17px;
}
[dir=rtl] .discount-single-item .discount {
  left: auto;
  right: 30px;
}
[dir=rtl] .choose-content .choose-content-list li .ms-40 {
  margin-left: 0;
  margin-right: 30px;
}
[dir=rtl] .author-single-item .rate span {
  margin-left: 0;
  margin-right: 5px;
}
[dir=rtl] .ms-4 {
  margin-left: 0 !important;
  margin-right: 1.5rem !important;
}
[dir=rtl] .banner-content-two .banner-content-wrap {
  margin-left: 0;
  margin-right: 90px;
}
[dir=rtl] .banner-content-two .ms-140 {
  margin-left: 0;
  margin-right: 140px;
}
[dir=rtl] .banner-buy-sell-two {
  margin-right: 0;
  margin-left: -291px;
}
[dir=rtl] .banner-buy-sell-two .banner-buy-sell-tabs {
  margin-left: 0;
  margin-right: 20px;
  padding: 0;
}
[dir=rtl] .banner-buy-sell-two .banner-buy-sell-tabs .nav-item {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .banner-buy-sell-two .banner-buy-sell-tabs .nav-item:last-child {
  margin-left: 0;
}
[dir=rtl] .banner-buy-sell-two .buy-sell-form .form-group .form-control {
  padding-left: 0;
  padding-right: 40px;
}
[dir=rtl] .house-listing-single-item .house-listing-single-img img {
  border-radius: 0 20px 20px 0;
}
[dir=rtl] .house-listing-single-item .house-listing-single-content {
  border-radius: 20px 0 0 20px;
  border: 1px solid rgba(17, 24, 39, 0.14);
  border-left: 1px solid rgba(17, 24, 39, 0.14);
}
[dir=rtl] .house-listing-single-item .house-listing-single-content .house-listing-fe-list {
  padding-right: 0;
}
[dir=rtl] .house-listing-single-item .house-listing-single-content .house-listing-fe-list li {
  margin-right: 0;
  margin-left: 20px;
}
[dir=rtl] .house-listing-single-item .house-listing-single-content .house-listing-fe-list li span {
  margin-left: 0;
  margin-right: 10px;
}
[dir=rtl] .ms-2 {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}
[dir=rtl] .why-choose-tofy-content ul li .ms-30 {
  margin-left: 0;
  margin-right: 30px;
}
[dir=rtl] .top-author-single-item .top-author-single-img .listing {
  left: auto;
  right: 35px;
}
[dir=rtl] .top-author-single-item .top-author-single-img .social-link {
  right: auto;
  left: 40px;
}
[dir=rtl] .top-author-single-item .top-author-single-content ul li {
  margin-right: 0;
  margin-left: 30px;
}
[dir=rtl] .top-author-single-item .top-author-single-content ul li a {
  margin-left: 0;
  margin-right: 10px;
}
[dir=rtl] .top-author-single-item .top-author-single-content ul li:last-child {
  margin-left: 0;
}
[dir=rtl] .funfact-single-item .funfact-single-content {
  margin-left: 0;
  margin-right: 18px;
}
[dir=rtl] .testimonial-slide-two .swiper-button-prev {
  right: auto;
  left: 50px;
}
[dir=rtl] .testimonial-slide-two .swiper-button-next {
  right: auto;
  left: 0;
}
[dir=rtl] .faq-accordion-wrap .accordion .accordion__item .accordion__button {
  text-align: right;
  padding-left: 0;
  padding-right: 55px;
}
[dir=rtl] .faq-accordion-wrap .accordion .accordion__item .accordion__button span::before {
  left: auto;
  right: 0;
}
[dir=rtl] .faq-accordion-wrap .accordion .accordion__item .accordion__button:before {
  left: auto;
  right: 14px;
}
[dir=rtl] .faq-accordion-wrap .accordion .accordion__item .accordion__button::after {
  left: auto;
  right: 19px;
}
[dir=rtl] .backtotop {
  right: auto;
  left: 30px;
}
[dir=rtl] .banner-content.style-three {
  margin-left: 0;
  margin-right: 170px;
}
[dir=rtl] .banner-content.style-three .location-track {
  margin-left: 0;
  margin-right: -160px;
}
[dir=rtl] .destination-content .destination-content-list li .ms-35 {
  margin-left: 0;
  margin-right: 35px;
}
[dir=rtl] .how-its-work-single-item .ms-30 {
  margin-left: 0;
  margin-right: 30px;
}
[dir=rtl] .blog-single-item .blog-single-content ul li {
  margin-right: 0;
  margin-left: 20px;
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] .blog-single-item .blog-single-content ul li::before {
  left: 0;
  right: auto;
}
[dir=rtl] .page-banner-content ul.style-two li {
  margin-right: 0;
  margin-left: 26px;
}
[dir=rtl] .page-banner-content ul.style-two li:last-child {
  margin-left: 0;
}
[dir=rtl] .page-banner-content ul.style-two li span {
  margin-left: 0;
  margin-right: 8px;
}
[dir=rtl] .filter-drop li {
  margin-left: 0;
  margin-right: 20px;
}
[dir=rtl] .filter-drop li .opacity-btn svg {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .page-banner-content ul li {
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
  padding-left: 10px;
}
[dir=rtl] .page-banner-content ul li::before {
  right: auto;
  left: 0;
}
[dir=rtl] .stay-details-content .post-info .share-save li {
  margin-right: 0;
  margin-left: 30px;
}
[dir=rtl] .stay-details-content .post-info .share-save li:last-child {
  margin-left: 0;
}
[dir=rtl] .stay-details-content .post-info .fe-list li {
  margin-right: 0;
  margin-left: 25px;
}
[dir=rtl] .stay-details-content .post-info .fe-list li:last-child {
  margin-left: 0;
}
[dir=rtl] .box-title::before {
  left: auto;
  right: 0;
}
[dir=rtl] .me-2 {
  margin-right: 0 !important;
  margin-left: 0.5rem !important;
}
[dir=rtl] .end-0 {
  right: auto !important;
  left: 0 !important;
}
[dir=rtl] .blog-details-content .post-info .date {
  margin-right: 0;
  margin-left: 30px;
}
[dir=rtl] .blog-details-content .post-info ul li {
  margin-right: 0;
  margin-left: 20px;
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] .blog-details-content .post-info ul li:before {
  right: auto;
  left: 0;
}
[dir=rtl] .text-end {
  text-align: initial !important;
  text-align: left !important;
}
[dir=rtl] .ms-md-4 {
  margin-left: 0 !important;
  margin-right: 1.5rem !important;
}
[dir=rtl] .blog-details-content .tag-share .tag-list li {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .blog-details-content .tag-share .tag-list li:last-child {
  margin-left: 0;
}
[dir=rtl] .blog-details-content .tag-share .social-link li {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .blog-details-content .tag-share .social-link li:last-child {
  margin-left: 0;
}
[dir=rtl] .author-content .social-link li {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .author-content .social-link li:last-child {
  margin-left: 0;
}
[dir=rtl] .comment-list ul li .reply {
  right: auto;
  left: 30px;
}
[dir=rtl] .choosing-listing-categories-content .choosing-form h4::before {
  left: auto;
  right: 0;
}
[dir=rtl] .choosing-listing-categories-content .choosing-form .border-style::before {
  left: auto;
  right: 0;
}
[dir=rtl] .choosing-listing-categories-content .choosing-btn .white-btn {
  margin-right: 0;
  margin-left: 25px;
}
[dir=rtl] .choosing-listing-categories-content .form-group .property svg {
  margin-right: 0;
  margin-left: 5px;
}
[dir=rtl] .choosing-listing-categories-content .form-control.form-select {
  padding-right: 35px;
}
[dir=rtl] .choosing-listing-categories-content .form-check {
  padding-left: 0;
  padding-right: 1.5em;
}
[dir=rtl] .choosing-listing-categories-content .form-check .form-check-input {
  float: right;
  margin-left: 0;
  margin-right: -1.5em;
}
[dir=rtl] .choosing-listing-categories-content .form-check .form-check-label {
  margin-left: 0;
  margin-right: 12px;
}
[dir=rtl] .chackout-content .pay-with::before {
  left: auto;
  right: 0;
}
[dir=rtl] .account-content .account-tabs .nav-item {
  margin-right: 0;
  margin-left: 25px;
}
[dir=rtl] .account-content .account-tabs .nav-item:last-child {
  margin-left: 0;
}
[dir=rtl] .flight-accordion .accordion .accordion__item .accordion__heading .accordion__button {
  text-align: right;
  padding: 30px 50px 30px 30px;
}
[dir=rtl] .flight-accordion .accordion .accordion__item .accordion__heading .accordion__button::before {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .flight-accordion .accordion .accordion__item .accordion__heading .accordion__button .ms-70 {
  margin-left: 0;
  margin-right: 70px;
}
[dir=rtl] .flight-accordion .accordion .accordion__item .accordion__panel .flight-schedule li::before {
  left: auto;
  right: 15px;
}
[dir=rtl] .flight-accordion .accordion .accordion__item .accordion__panel .flight-schedule::before {
  right: auto;
  left: -105px;
}
@media only screen and (max-width: 767px) {
  [dir=rtl] .location-track {
    margin-left: 0 !important;
  }
  [dir=rtl] .banner-content-two .banner-content-wrap {
    margin-right: 0;
  }
  [dir=rtl] .banner-content-two .banner-content-wrap .ms-140 {
    margin-right: 0;
  }
  [dir=rtl] .banner-buy-sell-two {
    margin-left: 0;
  }
  [dir=rtl] .banner-content.style-three {
    margin-right: 0;
  }
  [dir=rtl] .banner-content.style-three .location-track {
    margin-right: 0;
  }
  [dir=rtl] .filter-drop li {
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .location-track {
    margin-left: 0 !important;
  }
  [dir=rtl] .banner-buy-sell-two {
    margin-left: 0;
  }
  [dir=rtl] .banner-content-two .banner-content-wrap {
    margin-right: 0;
  }
  [dir=rtl] .banner-buy-sell-two .buy-sell-form .form-group .default-btn {
    padding: 16px 20px;
    font-size: 14px;
  }
  [dir=rtl] .banner-content.style-three {
    margin-right: 0;
  }
  [dir=rtl] .banner-content.style-three .location-track {
    margin-right: 0;
  }
  [dir=rtl] .filter-drop li {
    margin-right: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [dir=rtl] .banner-buy-sell-two .buy-sell-form .form-group .default-btn {
    padding: 16px 20px;
    font-size: 14px;
  }
  [dir=rtl] .banner-content .location-track {
    margin-left: -465px;
  }
  [dir=rtl] .banner-content.style-three h1 {
    font-size: 40px;
    line-height: 1.4;
  }
  [dir=rtl] .banner-content.style-three .location-track {
    margin-right: -540px;
  }
  [dir=rtl] .track-form-area .location-track {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  [dir=rtl] .banner-buy-sell-two .buy-sell-form .form-group .default-btn {
    padding: 16px 20px;
    font-size: 14px;
  }
  [dir=rtl] .banner-content.style-three h1 {
    font-size: 45px;
    line-height: 1.4;
  }
  [dir=rtl] .banner-content.style-three .location-track {
    margin-right: -540px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  [dir=rtl] .banner-content.style-three .location-track {
    margin-right: -400px;
  }
}/*# sourceMappingURL=rtl.css.map */